<!DOCTYPE html>
{% load i18n %}
<html lang="{{LANGUAGE_CODE}}">
    <head>
        <title>Cheddar {% block title%}- Welcome{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet">
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            <div class="navbar navbar-static-top">
                <nav role="navigation" class="navbar-inner ">
                    <div class="container-fluid">
                        <a href="#" class="brand">Cheddar</a>
                        <ul class="nav">
                            {% block navbar-items %}{% endblock %}
                        </ul>
                        <ul class="nav pull-right">
                            {% if user.is_anonymous %}
                                <li><a href="{% url "accounts:register"%}">{% trans "Signup" %}</a></li>
                            {% endif %}
                            <li class="divider-vertical"></li>
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Welcome" %}, {{user.username}} <b class="caret"></b></a>
                                    <ul class="dropdown-menu" data-toggle="dropdown">
                                        <li><a href="{% url 'feeds:import' %}">{% trans "Import subscriptions" %}</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url "accounts:login" %}">{% trans "Login" %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        {% endblock %}        
        <div class="container-fluid">
            {% block container %}{% endblock %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% url 'js-catalog' %}"></script>
        <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
        {% block extrascript %}{% endblock %}        
    </body>
</html>