Django>=1.5
django-celery>=3.0.11
python-memcached

sierra-django-json-mixin-form
listparser
feedparser
django-extensions
South
django-nose
ipdb
ipython

git+https://github.com/rafaelsierra/django-metadata.git
