{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}feeds/css/styles.css">
    <link rel="stylesheet" href="{{STATIC_URL}}feeds/css/animations.css">
{% endblock %}

{% block navbar-items %}
    <li class="divider-vertical"></li>
{% endblock %}

{% block container %}
    <div class="row-fluid">
        <!-- Feeds menu -->
        <div id="left-bar" class="span2 hidden-tablet">
            <div id="social-feed">
                <ul class="nav nav-list">
                    <li class="nav-header">{% trans "Social" %}</li>
                    <li><a id="starred-button"><i class="icon-star"></i>{% trans "Starred Items"%}</a></li>
                </ul>
            </div>
            <div id="sites-container">
                <ul class="nav nav-list">
                    <li class="nav-header" id="feed-list">{% trans "Sites" %}</li>
                    {% include "feeds/includes/site-list.html" %}
                </ul>
            </div>
        </div>
        <!-- Feed content -->
        <div class="span9" id="postlist">
            <div class="btn-toolbar well actions">
                {% if current_site %}
                    <div class="btn-group">
                        <a class="btn" href="{% url "feeds:home" %}"><i class="icon-arrow-left"></i> {%trans "Back to all posts" %}</a>
                    </div>
                {% endif %}
                <div class="btn-group">
                    
                    <button class="btn" data-toggle="modal" href="#markAllAsReadModal"><i class="icon-eye-open"></i> {% trans "Mark all as read" %}</button>
                    <a class="btn" href="{% url 'feeds:my-sites' %}"><i class="icon-align-justify"></i> {% trans "Manage subscriptions"%}</a>
                </div>
            </div>
            {% include "feeds/includes/post-list.html" with posts=posts%}
        </div>
    </div>
    <div class="modal hide fade" id="markAllAsReadModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Are you sure?" %}</h3>
        </div>
        <div class="modal-body">
            {% blocktrans %}
                <p>This cannot be undone and you must wait for the response.</p>
                <p>If you have some thousands of unread posts, this may take forever :)</p>
                <p>If this takes more than 30 seconds, you may need to start again.</p>
                <p class="hide alert alert-success">Success! All your posts were marked as read.</p>
            {% endblocktrans %}
        </div> 
        <div class="modal-footer">
            <i class="icon-cog hide pull-left spin"></i>
            <button class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
            <button class="btn btn-primary" id="doMarkAllAsRead">{% trans "Just do it" %}</button>
        </div>
    </div>
{% endblock %}
{% block extrascript %}
    <script src="{{STATIC_URL}}feeds/js/jquery.hotkeys.js"></script>
    <script src="{{STATIC_URL}}feeds/js/jquery.overscroll.js"></script>
    <script>
        var urls = {
            'STATIC_URL': '{{STATIC_URL|escapejs}}',
            'MEDIA_URL': '{{MEDIA_URL|escapejs}}',
            'mysites': "{% url 'feeds:my-sites' %}",
            'post_list_read': "{% url 'feeds:post-list-read' %}",
            'post_list_unread': "{% url 'feeds:post-list-unread' %}",
            'post_list_starred': "{% url 'feeds:post-list-starred' %}",
            'mark_post_as_read': "{% url 'feeds:post-mark-as-read' %}",
            'mark_all_posts_as_read': "{% url 'feeds:post-mark-all-as-read' %}",
            'star_post': function(postId){return "{% url 'feeds:post-star-it' pk='POSTID' %}".replace('POSTID', postId);}
        };
    </script>
    <script src="{{STATIC_URL}}feeds/js/everything.js"></script>
{% endblock %}    