{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}feeds/css/styles.css"
{% endblock %}
{% block container %}
    <div class="row-fluid">
        <!-- Feeds menu -->
        <div class="span2 hidden-phone">
            <ul class="nav nav-list">
                <li class="nav-header" id="feed-list">{% trans "Feeds" %}</li>
            </ul>
        </div>
        <!-- Feed content -->
        <div class="span10" id="postlist"></div>
    </div>
{% endblock %}
{% block extrascript %}
    <script src="{{STATIC_URL}}feeds/js/jquery.hotkeys.js"></script>
    <script src="{% url 'feeds:cheddarjs' %}"></script>
    <script src="{{STATIC_URL}}feeds/js/everything.js"></script>
{% endblock %}    