{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}feeds/css/styles.css">
{% endblock %}
{% block container %}
    <div class="row-fluid">
        <form action="{% url 'feeds:import'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>{% trans "Import your subscriptions" %}</h3>
            {% include "forms/horizontal.html" with form=form %}
            <button class="btn btn-primary">{% trans "Submit" %}</button>
        </form>
    </div>
{% endblock %}
