{% extends "base.html" %}
{% load i18n %}
{% load accountstags %}
{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}feeds/css/my-sites.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{STATIC_URL}}feeds/css/animations.css">
{% endblock %}

{% block container %}
    <div class="row-fluid">
        <h1>{% trans "Subscriptions"%}</h1>
        <div class="well">
            {% if subscribed_success %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% blocktrans %}Successfully subscribed to feed{% endblocktrans %}
                </div>
            {% endif %}
            <form class="form-inline" action="{% url 'feeds:subscribe' %}" method="post">
                {% csrf_token %}
                <h2>{% trans "Subscribe to a new feed" %}</h2>
                {{subscribe_form}}
                <button class="btn btn-primary">{% trans "Save" %}</button>
            </form>
            <a href="{% url 'feeds:export'%}" class="btn">{% trans "Export my full OPML"%}</a>
        </div>
        <ul class="unstyled">
            {% for site in sites %}
                {% get_usersite user=user site=site as usersite %}
                {% get_unread_count_for_site as unread_count %}
                <li class="well edit-site" data-usersite_id="{{usersite.id}}" id="site-{{site.id}}" {% if folder %}data-folder="{{folder.name}}" data-folder_id="{{folder.id}}"{% endif %}>
	                <!-- img src="{% url 'feeds:proxy-favicon' pk=site.id %}" width="16" height="16" class="img-round" --> 
	                <span class="label label-info unread-counter">{{ unread_count }} {% trans "unread posts"%}</span>
	                <span class="site-title">{{site.display_title}}</span> 
                    <span class="folder">
                        <select>
                            <option value="">--</option>
                            {% for folder in folders %}
                                <option {% if folder.id == usersite.folder.id %}selected=selected{% endif %} value="{{folder.id}}">{{folder.name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <form action="{% url 'feeds:unsubscribe' %}" method="POST" class="unsubscribe-form">
                    	{% csrf_token %}
                    	{% get_unsubscribe_form usersite=usersite as unsubscribe_form %}
                    	{{unsubscribe_form.as_p}}
                    	<button class="btn btn-danger unsubscribe"><i class="icon-remove icon-white"></i> {% trans "Unsubscribe" %}</button>
                    </form>
                </li>
            {% endfor %}
        </ul>   
        <hr>
        
        <h1>{% trans "Folders"%}</h1>
        <div class="well">
            <form class="form-inline" action="{% url 'accounts:add-folder' %}" method="post" id="add-folder">
                {% csrf_token %}
                <h2>{% trans "Add Folder" %}</h2>
                {{add_folder_form}}
                <button class="btn btn-primary">{% trans "Save" %}</button>
            </form>
        </div>             
        <ul class="unstyled">
            {% for folder in folders %}
                {% get_folder_usersites as usersites %}
                <li class="well edit-folder">
                    <span class="label label-info">{{usersites.count}} {% trans "sites"%}</span>
                    {{folder.name}}
                </li>
            {% endfor %}
        </ul>        
    </div>
{% endblock %}

{% block extrascript %}
    <script>
        var urls = {
            'STATIC_URL': '{{STATIC_URL|escapejs}}',
            'MEDIA_URL': '{{MEDIA_URL|escapejs}}',
            'change_folder': "{% url 'accounts:change-folder' %}"
        };
    </script>
    <script src="{{STATIC_URL}}accounts/js/my-sites.js"></script>
{% endblock %}
