{% comment %}
    Default renderer for forms
    Usage:
        {% include "default-form.html" with form=form_instance legeng="Some legend" %}
{% endcomment %}
<fieldset>
    {% if legend %}
        <legend>{{legend}}</legend>
    {% endif %}
    
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    
    {% for error in form.non_field_errors %}
        <p class="text-error">{{error}}</p>
    {% endfor %}
    
    {% for field in form.visible_fields %}
        <div class="control-group {% if field.errors %}error{% endif %}">
            <label class="control-label" for="id_{{field.html_name}}">{{field.label}}</label>
            <div class="controls">
                {{field}}
                <span class="help-block">{{field.help_text}}</span>
                {% for error in field.errors %}
                    <span class="text-error">{{error}}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</fieldset>
