/**
 *     SPIN ANIMATION
 */
@keyframes spin{
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}

/**
 *     GLOW ANIMATION
 */
@keyframes glow-next{
    0%,100%{
        box-shadow:  0px 0px 5px 2px rgba(255,215,0, 0.5);
        -webkit-box-shadow:  0px 0px 5px 2px rgba(255,215,0, 0.5);
    }
    50%{
        box-shadow:  0px 0px 5px 2px rgba(255,215,0, 0.8);
        -webkit-box-shadow:  0px 0px 5px 2px rgba(255,215,0, 0.8);
    }
}

@-webkit-keyframes glow-next{
    0%,100%{
        box-shadow:  0px 0px 5px 2px rgba(255,215,0, 0.5);
        -webkit-box-shadow:  0px 0px 5px 2px rgba(255,215,0, 0.5);
    }
    50%{
        box-shadow:  0px 0px 5px 2px rgba(255,215,0, 0.8);
        -webkit-box-shadow:  0px 0px 5px 2px rgba(255,215,0, 0.8);
    }
}

/**
 *     Classes
 */

.spin{
    animation: spin 2s;
    -webkit-animation: spin 2s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.glow{
    animation: glow-next 3s;
    -webkit-animation: glow-next 3s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;    
}
