@keyframes spin{
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}

.spin{
    animation: spin 2s;
    -webkit-animation: spin 2s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}