select {
    margin-bottom: 0;
}
li.edit-site{
    padding: 5px;
    margin-bottom: 5px;
    height: 29px;
    line-height: 29px;
}

li.edit-site:hover{
    -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
}

li.edit-site form{
	display: inline-block;
	margin: 0;
	float:right;
	margin-right: 10px;
	display: none;
}

li.edit-site:hover form{
	display: inline-block;
}

li span.folder{
    float:right;
}
