{% load i18n %}
{% load accountstags %}
{% load feedstags %}
{% get_site_list user=user as site_list%}
{% for site in site_list %}
    {% get_unread_count_for_site as unread_count %}
    {% get_site_folder as folder %}
    <li id="site-{{site.id}}" {% if folder %}data-folder="{{folder.name}}" data-folder_id="{{folder.id}}"{% endif %}>
        {% if current_site.id == site.id %}<strong>{% endif %}
        <a class="site-button" data-site="{{site.id}}" href="{% url 'feeds:post-list-unread' site=site.id %}">
            <img src="{% url 'feeds:proxy-favicon' pk=site.id %}" width="16" height="16" class="img-round"> 
            <span class="label label-info unread-counter">{{ unread_count }}</span>
            {{site.title}} 
            
        </a>
        {% if current_site.id == site.id %}</strong>{% endif %}
    </li>
{% endfor %}
