beautifulsoup4
celery[redis]
coverage
django==1.8.9
django-celery>=3.1.17
django-extensions
django-nose
feedparser
flower
gunicorn
ipdb
ipython
listparser
psycopg2
python-memcached
requests
responses
sierra-django-json-mixin-form

git+https://github.com/rafaelsierra/django-metadata.git
