beautifulsoup4
celery[redis]==3.1.17
coverage
django==1.8.9
djangorestframework
django-celery==3.1.17
django-cors-headers
django-nose
feedparser
flake8
flower
gunicorn
ipdb
ipython
listparser
markdown
psycopg2
python-memcached
requests
responses
